<div class="container-fluid">
  <div class="col-md-8 offset-md-2">
    <h2 class="text-center">STORy</h2>
            
        <%= form_with model: @sin, local: true do |f| %>
          <div class="form-group">
            <label>タイトル</label>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>本文</label>
            <%= f.text_area :content, size: "15x10", class: "form-control" %>
          </div>
          <div class="text-center">
            <%= f.submit "SAVE", class: "btn btn-secondary" %>
          </div>
        <% end %>


  </div>
</div>